@tailwind base;
@tailwind components;
@tailwind utilities;

.clear-sky {
  background: url('../assets/clear-sky.png');
  background-size: cover;
  background-position: center;
}

.cloudy {
  background: url('../assets/cloudy-sky.png');
  background-size: cover;
  background-position: center;
}

.rainy {
  background: url('../assets/rainy.png');
  background-size: cover;
  background-position: center;
}

.snow {
  background: url('../assets/snow.png');
  background-size: cover;
  background-position: center;
  
}

.thunderstorm {
  background: url('../assets/thunder.jpeg');
  background-size: cover;
  background-position: center;
}

.haze {
  background: url('../assets/haze.jpg');
  background-size: cover;
  background-position: center;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

/* Card styles for desktop */
.card {
  width: 100%; 
  max-width: 450px; 
  min-height: 600px; 
  color: white;
  backdrop-filter: blur(32px);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding-top: 30px;
  padding-left: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}


@media (max-width: 480px) {
  .card {
    max-width: 350px;
    padding: 20px;
  }
  .top {
    gap: 2px;
  }
  .text {
    font-size: 40px;
  }

  button {
    padding: 10px;
  }

  input {
    font-size: 0.9rem;
  }
}